
#formtitle {
    background-color: rgb(154, 187, 210);
    border-color: gray;
    margin: 50px;
    padding: 5px;
    text-align: center;
}

.container {
    background-color: white;
    margin-top: 20px;
    padding: 15px;   
    border: 10px solid; 
    border-color: rgb(154, 187, 210);
    width: 100px;
}

h3 {
    text-align: center;
    background-color:rgb(154, 187, 210);
    margin: 60px;
    padding: 5px;

}

form {   
    margin: 5px;
    padding: 5px;
    display: block;
}


input[type=text] {
    margin: auto;
    padding: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    max-width: 500px;
    text-align: center;
}

.radio {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

button[type=submit] {
   display: inline-block;
   padding: 9px 20px;
   margin-top: 20
   px;
}

label {
    font-weight: bold;
    text-align: center;
}
